.u-section-1 {
  background-image:  url("images/rttrr-min.jpg");
  background-position: 50% 50%;
}

p49{
	position: absolute;
	top: 50%;
	left: -540%;
	transform: translate(-50%,-50%);
}
p49{
	color: rgb(77, 7, 241);
	font-size: 40px;
	font-style: Arial Unicode MS;
}

p50{
	position: absolute;
	top: 50%;
	left: -540%;
	transform: translate(-50%,-50%);
}
p50{
	color: rgb(77, 7, 241);
	font-size: 40px;
	font-style: Arial Unicode MS;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-shape-1 {
  height: 478px;
  width: 296px;
  margin: 112px auto 0 201px;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 527px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -415px auto 60px 273px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 4.25rem;
  font-family: Oswald, sans-serif;
  margin: 28px 1px 0;
}

.u-section-1 .u-text-3 {
  margin: 11px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-shape-1 {
    width: 281px;
    margin-top: 57px;
    margin-right: 281px;
  }

  .u-section-1 .u-group-1 {
    width: 513px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-shape-1 {
    height: 435px;
    width: 244px;
    margin-right: auto;
    margin-left: 195px;
  }

  .u-section-1 .u-group-1 {
    width: 468px;
    margin-top: -372px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-shape-1 {
    height: 403px;
    width: 229px;
    margin-top: 60px;
    margin-left: 41px;
  }

  .u-section-1 .u-group-1 {
    width: 446px;
    margin-top: -349px;
    margin-bottom: 114px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-shape-1 {
    height: 378px;
    width: 215px;
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 311px;
    margin: -323px auto 60px 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/97742e1974320b2d4a16a05dd4f2e070f80c5503b0aa2912a119608b4a5518a2d2ac94f4f94540e77763c5444a175cb468499ffdaba76c1507a13c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/54245018-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 191px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 99px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 200px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}